<section class="profile" id="profile">
  <div style="width: 85%; margin-top: 21vh;" class="sec-1" [ngClass]="{'show-animate': isSectionVisible('profile')}">
    <h2 [style.color]="isDark ? '#ECEDF8' : 'black' " style="transition: 0.5s;font-size: 2.3vh;display: flex; ">
      <p class="title">Hello</p> <p>, This is</p>
    </h2>
    <h1 style=" margin-block: 1vh; color: #fd1f4a; font-size: 4vh;">VarathaRaj&nbsp;S</h1>
    <div style="display: flex; align-items: center;">
      <h2 [style.color]="isDark ? '#ECEDF8' : 'black' " style="transition: 0.5s;font-size: 2.3vh; ">And I'm a </h2>
      <div style=" font-size:2vh; color: #ecb10f; margin-left: 1vh;" class="typing-element"></div>
    </div>
  </div>
  <div class="sec-2" style="margin-top : 9vh; width: 100%; display: flex; justify-content: flex-end;">
    <div class="sec-2-inside" style="width: 70%; padding: 2vh; text-align: justify;">
      <p style="line-height: 2vh;padding-block: 4vh; border-block:2px solid#fd1f4a; color: #ecb10f; font-size: 1.6vh;">
        As a component based web application developer and an enthusiastic self - learner, I am constantly seeking new
        challenges and
        opportunities to expand my knowledege and expertise. I am confident that my strong work ethic, technical
        proficiency, and commitment to excellence make me a valuable asset to any team.
      </p>
    </div>
  </div>
</section>

<section class="about" id="about" [ngClass]="{'show-animate': isSectionVisible('about')}">
  <div class="aboutBackground"
    [ngStyle]="{'background-image': !isDark ? 'url(\'/assets/images/pattern-light.png\')' : 'url(\'/assets/images/pattern-dark.png\')', 'opacity': isDark ? '0.3' : '0.9'}">
  </div>
  <div class="aboutTopic" style="z-index: 1; margin-top: 12vh;">
    <h1 [style.color]="isDark ? '#ECEDF8' : 'black' " style="transition: 0.5s; display: flex; ">Ab<p 
        style="color: #fd1f4a;">ou</p>t</h1>
  </div>
  <div class="aboutContent">
    <div class="leftMgsBox"
      [ngStyle]="{'border': isDark ? '2px solid #fbbd0d' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fbbd0d' : 'black'}">
      <p>tell about yourself</p>
    </div>
    <div class="rightMgsBoxContainer">
      <div class="rightMgsBox"
        [ngStyle]="{'border': isDark ? '2px solid #fd1f4a' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fd1f4a' : 'black'}">
        <p>Hi there, I am VarathaRaj. S A web developer who specialises in aNGular, React, Git </p>
        <i class="bi bi-check-all"></i>
      </div>
    </div>
    <div class="leftMgsBox"
      [ngStyle]="{'border': isDark ? '2px solid #fbbd0d' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fbbd0d' : 'black'}">
      <p>are you new to this field ?</p>
    </div>
    <div class="rightMgsBoxContainer">
      <div class="rightMgsBox"
        [ngStyle]="{'border': isDark ? '2px solid #fd1f4a' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fd1f4a' : 'black'}">
        <p>Yes, a 21 years old fresher who graduated college a year back</p>
        <i class="bi bi-check-all"></i>
      </div>
    </div>
    <div class="leftMgsBox"
      [ngStyle]="{'border': isDark ? '2px solid #fbbd0d' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fbbd0d' : 'black'}">
      <p>whats's your educational background ?</p>
    </div>
    <div class="rightMgsBoxContainer">
      <div class="rightMgsBox"
        [ngStyle]="{'border': isDark ? '2px solid #fd1f4a' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fd1f4a' : 'black'}">
        <p>graduated BCA in 2023 with 74%</p>
        <i class="bi bi-check-all"></i>
      </div>
    </div>
    <div class="leftMgsBox"
      [ngStyle]="{'border': isDark ? '2px solid #fbbd0d' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fbbd0d' : 'black'}">
      <p>when can you start ?</p>
    </div>
    <div class="rightMgsBoxContainer">
      <div class="rightMgsBox"
        [ngStyle]="{'border': isDark ? '2px solid #fd1f4a' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fd1f4a' : 'black'}">
        <p>Available to start immediately.</p>
        <i class="bi bi-check-all"></i>
      </div>
    </div>
    <div class="rightMgsBoxContainer" (click)="downloadResume();">
      <div class="rightMgsBox"
        [ngStyle]="{'border': isDark ? '2px solid #fd1f4a' : '2px solid black', 'background-color': isDark ? 'transparent' : 'white', 'color': isDark ? '#fd1f4a' : 'black'}">
        <p style="display: flex; align-items: center;"><i class="bi bi-file-earmark-pdf"
            style="position:static; font-size: 3vh; color: #fd1f4a; animation: none;"></i> Resume-varatharaj.pdf<i
            style="animation: none; position: sticky; color:#fbbd0d; margin: 1vh; font-size: 2.5vh"
            class="bi bi-cloud-arrow-down"></i></p>
        <i class="bi bi-check-all"></i>
      </div>
    </div>
  </div>
</section>

<section class="skills" id="skills" [ngClass]="{'show-animate': isSectionVisible('skills')}">
  <div class="skillsTopic">
    <h1 style="display: flex;transition: 0.5s;" [style.color]="isDark ? '#ECEDF8' : 'black' ">Technic<p
        style="color: #fd1f4a;">al&nbsp;S</p>kills</h1>
  </div>
  <div class="skillsContent">
    <div class="row">
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/angular.png" alt="angular">
        </div>
        <p>Angular</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/nodejs.png" alt="Nodejs">
        </div>
        <p>NodeJs</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/reactjs.png" alt="React">
        </div>
        <p>Reactjs</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/html.png" alt="html">
        </div>
        <p>HTML</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/css.png" alt="CSS">
        </div>
        <p>CSS</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/js.png" alt="JS">
        </div>
        <p>JavaScript</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/ts.png" alt="TS">
        </div>
        <p>TypeScript</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/figma.png" alt="figma">
        </div>
        <p>Figma</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/bootstrap.png" alt="bootstrap">
        </div>
        <p>Bootstrap</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img style="height: 100%; width: 100%;" src="./assets/images/tailwind.png" alt="tailwindcss">
        </div>
        <p>Tailwind css</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/git.png" alt="git">
        </div>
        <p>Git</p>
      </div>
    </div>
    <div class="row">
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/firebase.png" alt="Firebase">
        </div>
        <p>Firebase</p>
      </div>
      <div class="col">
        <div class="imgContainer">
          <img src="./assets/images/couch.png" alt="couchDB">
        </div>
        <p>Couch DB</p>
      </div>

    </div>
  </div>
</section>

<section style="height: 250vh ;" class="projects" id="projects"
  [ngClass]="{'show-animate': isSectionVisible('projects')}">
  <div class="projectTopic">
    <h1 style="display: flex;transition: 0.5s;" [style.color]="isDark ? '#ECEDF8' : 'black' ">Proj<p style="color: #fd1f4a;">ec</p>ts</h1>
  </div>
  <div class="projectContent">

    <div class="border">
      <div class="projectImg">
        <img src="./assets/images/moi.png" alt="fiscalnote">
      </div>
      <h1 class="projectTitle" [style.color]="isDark ? '#ECEDF8' : 'black' ">Own Client project</h1>
      <div class="projectBtn">

        <div class="buttonsDiv">

          <a class="btn" href="https://moisheet-a95d8.web.app/">
            <p>Live Demo</p>
            <i class="bi bi-play-circle-fill"></i>
          </a>

        </div>
      </div>
    </div>

    <div class="border">
      <div class="projectImg">
        <img src="./assets/images/storage.png" alt="fiscalnote">
      </div>
      <h1 class="projectTitle" [style.color]="isDark ? '#ECEDF8' : 'black' ">Storage App</h1>
      <div class="projectBtn">

        <div class="buttonsDiv">
          <a class="btn" href="https://github.com/VARATHARAJ-WEBDEVOPS/StorageApp">
            <p>Git Hub</p>
            <i class="bi bi-github"></i>
          </a>

          <a class="btn" href="https://student-a98a7.web.app/">
            <p>Live Demo</p>
            <i class="bi bi-play-circle-fill"></i>
          </a>

        </div>
      </div>
    </div>

    <div class="border">
      <div class="projectImg">
        <img src="./assets/images/fiscalnote.png" alt="fiscalnote">
      </div>
      <h1 class="projectTitle" [style.color]="isDark ? '#ECEDF8' : 'black' ">Fiscal Note</h1>
      <div class="projectBtn">

        <div class="buttonsDiv">
          <a class="btn" href="https://github.com/VARATHARAJ-WEBDEVOPS/FiscalNote">
            <p>Git Hub</p>
            <i class="bi bi-github"></i>
          </a>
          <a class="btn" href="https://fiscalnote-a6d09.firebaseapp.com/">
            <p>Live Demo</p>
            <i class="bi bi-play-circle-fill"></i>
          </a>
        </div>
      </div>
    </div>

    <div class="border">
      <div class="projectImg">
        <img src="./assets/images/quickkart.png" alt="fiscalnote">
      </div>
      <h1 class="projectTitle" [style.color]="isDark ? '#ECEDF8' : 'black' ">Quick Kart</h1>
      <div class="projectBtn">

        <div class="buttonsDiv">
          <a class="btn" href="https://github.com/VARATHARAJ-WEBDEVOPS/ecommercesite">
            <p>Git Hub</p>
            <i class="bi bi-github"></i>
          </a>

          <a class="btn" href="https://quick-kart-63da8.web.app/">
            <p>Live Demo</p>
            <i class="bi bi-play-circle-fill"></i>
          </a>

        </div>
      </div>
    </div>

    <div class="border">
      <div class="projectImg">
        <img src="./assets/images/amorchat.png" alt="fiscalnote">
      </div>
      <h1 class="projectTitle" [style.color]="isDark ? '#ECEDF8' : 'black' ">AmorChat</h1>
      <div class="projectBtn">

        <div class="buttonsDiv">
          <a class="btn" href="https://github.com/VARATHARAJ-WEBDEVOPS/ChatApp">
            <p>Git Hub</p>
            <i class="bi bi-github"></i>
          </a>

          <a class="btn" href="https://amorchat-v1.web.app/">
            <p>Live Demo</p>
            <i class="bi bi-play-circle-fill"></i>
          </a>

        </div>
      </div>
    </div>


  </div>
</section>

<section class="contact" id="contact" [ngClass]="{'show-animate': isSectionVisible('contact')}">
  <div class="contactTitle">
    <h1 [style.color]="isDark ? '#ECEDF8' : 'black' ">Get</h1>
    <h1  [style.color]="isDark ? '#ECEDF8' : 'black' "><br><p style="color: #fd1f4a;">in&nbsp;</p>touch</h1>
  </div>
  <div class="resumeDiv" >
    <div class="resumeBorder" (click)="downloadResume();">
      <p [style.color]="isDark ? '#ECEDF8' : 'black' ">Get my Resume</p>
      <i style="animation: none; position: sticky; color:#fbbd0d; margin: 1vh; font-size: 4vh"
            class="bi bi-filetype-pdf"></i>
    </div>    
  </div>
  <div class="socialMediaContainer">
      <div class="socialRow">
        <div class="socialicon" (click)="navigateMail()">
          <img src="./assets/images/gmail.png" alt="mail">
        </div>
        <div class="socialicon"  (click)="navigateGithub()">
          <img src="./assets/images/github.png" alt="github">
        </div>
      </div>
      <div class="socialRow" style="justify-content: center;">
        <div class="socialicon" >
          <img src="./assets/images/twitter.png" alt="twitter">
        </div>
      </div>
      <div class="socialRow">
        <div class="socialicon" (click)="navigateLinkedin()">
          <img style="width: 50%; height: 50%;" src="./assets/images/linkedin.png" alt="linkedin">
        </div>
        <div class="socialicon" (click)="navigateInstagram()" >
          <img src="./assets/images/instagram.png" alt="instagram">
        </div>
      </div>
  </div>
</section>





<div class="header">
  <h1 style="position: fixed; top: 3vh; z-index: 100;
  left: 3vh; font-size: 3vh; transition: 0.3s;" [style.color]="isDark ? '#ECEDF8' : 'black' ">
   Portfo<span style="color: #fd1f4a;">lio</span></h1>
 
 <div class="mode-toggle" style="z-index: 100;">
   <input type="checkbox" id="mode-switch" class="toggle-input" (change)="toggleTheme()">
   <label for="mode-switch" class="toggle-label">
     <div class="sun" style="background-color: #ecb10f; border-radius: 50%;"></div>
     <div class="moon" style="background-color:aliceblue; border-radius: 50%; filter: contrast(150%);"></div>

   </label>
 </div>
</div>

<div class="footer">
  <div class="navigation" [style.background]="isDark ? '#ECEDF8' : 'black' " style="z-index: 100;">
    <ul>
      <li class="list" [class.active]="activeLink === 'profile'">
        <a (click)="setActiveLink('profile')" href="#profile">
          <span class="icon">
            <i class="bi bi-person"></i>
          </span>
          <span class="text">Profile</span>
        </a>
      </li>
      <li class="list" [class.active]="activeLink === 'about'">
        <a (click)="setActiveLink('about')" href="#about">
          <span class="icon">
            <i class="bi bi-blockquote-left"></i>
          </span>
          <span class="text">About</span>
        </a>
      </li>
      <li class="list" [class.active]="activeLink === 'skills'">
        <a (click)="setActiveLink('skills')" href="#skills">
          <span class="icon">
            <i class="bi bi-cpu"></i>
          </span>
          <span class="text">Skills</span>
        </a>
      </li>
      <li class="list" [class.active]="activeLink === 'projects'">
        <a (click)="setActiveLink('projects')" href="#projects">
          <span class="icon">
            <i class="bi bi-code-slash"></i>
          </span>
          <span class="text">Projects</span>
        </a>
      </li>
      <li class="list" [class.active]="activeLink === 'contact'">
        <a (click)="setActiveLink('contact')" href="#contact">
          <span class="icon">
            <i class="bi bi-phone-vibrate"></i>
          </span>
          <span class="text">Contact</span>
        </a>
      </li>
      <div class="indicator" [style.transform]="'translateX(' + indicatorPosition + ')'"></div>
    </ul>
  </div>
</div>


<h1 class="topText">Madurai - 625706  |  varathan2512002@gmail.com</h1>

<div class="round">
  <div class="texts" style="--index: 0;">Angular</div>
        <div class="texts" style="--index: 1;">Figma</div>
        <div class="texts" style="--index: 2;">React.js</div>
        <div class="texts" style="--index: 3;">Git & Gitub</div>
</div>